/* Generali */

:root{
    --main : #2b8b8a;
    --main-dark : #00506e;
    --secondary : #44924c;
}

.tc-main {
    color: var(--main);
}

*{
font-family: 'Poppins', sans-serif;
}

/* Navbar */

.bgc {
    background-color: #000000;
    border-bottom: 3px solid #ffffff;
    font-size: 15px;
}

.br{
    border-radius: 0.25rem !important;
}

/* Header */

.masthead{
    height: calc(70vh - 50px);
    /* background: linear-gradient(#000000ad, #000000ad) , url('/images/back.jpg'); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,242,0.4322771344866071) 20%, rgba(228,228,228,0.0009045854669993414) 100%), url('/images/back.jpg');
    background-size: cover;
    background-position: bottom center;
}

.header {
    left: 400px;
}

/* Cards */

.cards{
    margin-left: 400px;
    margin-top: 40px;
}

.linecard{
    border: 3px solid var(--main-dark);
    background-color: var(--main);
}
.buttons {
    background-color: var(--main);
    display: flex;
    justify-content: center;
}
.buttons:hover {
    background-color: var(--main-dark);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}
.buttonc {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    color: white;
}
.buttonc:hover {
    background-color: var(--main-dark);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.buttond {
    background-color: var(--main);
    color: white;
}
.buttond:hover {
    background-color: var(--main-dark);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
/* Dettaglio annunci */
.deta{
    margin-left: 100px;
    margin-bottom: 30px;
}

/* scheda */

*{
    box-sizing: border-box;
  }
  
  .cardse {

      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
  }

  .cardh {
    margin-right: 25px;
    transition: all .7s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  }
  .cardh:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1.10, 1.10);
  }
  
  .card__info {
  z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
     padding: 16px 24px 24px 24px;
  }
  
  .card__title {
      margin-top: 5px;
      margin-bottom: 10px;
  }
  
  .cardh:hover .card__info {
      background-color: transparent;
      position: relative;
  }
  
  .cardh:hover .card__info-hover {
      opacity: 1;
  }